---
# tasks file for fileshare

- name: Create fileshare docker directory
  ansible.builtin.file:
    path: "{{dockge_base_folder}}fileshare"
    state: directory
    mode: '0755'

- name: Create fileshare data directory
  ansible.builtin.file:
    path: "{{ fileshare_directory }}"
    state: directory
    mode: '0755'

- name: Setup Fileshare docker compose
  become: true
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ dockge_base_folder }}fileshare/docker-compose.yml"
    owner: root
    group: root
    mode: '0644'

- name: Create and start Fileshare via docker-compose
  community.docker.docker_compose_v2:
    project_src: "{{dockge_base_folder}}fileshare"
