services:
  vikunja:
    image: vikunja/vikunja
    environment:
      VIKUNJA_SERVICE_JWTSECRET: {{ vikunja_secret }}
      VIKUNJA_SERVICE_PUBLICURL: https://todo.corentinbeal.fr/
      # Set to true for the first installation
      VIKUNJA_SERVICE_ENABLEREGISTRATION: false
      # Note the default path is /app/vikunja/vikunja.db.
      # This config variable moves it to a different folder so you can use a volume and
      # store the database file outside the container so state is persisted even if the container is destroyed.
      VIKUNJA_DATABASE_PATH: /db/vikunja.db
    ports:
      - 3456:3456
    volumes:
      - {{ vikunja_base_directory }}/files:/app/vikunja/files
      - {{ vikunja_base_directory }}/db:/db
    restart: unless-stopped