---
# tasks file for caddy

- name: Install required packages
  ansible.builtin.apt:
    update_cache: true
    name:
      - debian-keyring
      - debian-archive-keyring
      - apt-transport-https
      - iptables-persistent   # Used for iptables save
    state: present

- name: Add Cloudsmith repository
  ansible.builtin.apt_key:
    url: "https://dl.cloudsmith.io/public/caddy/stable/gpg.key"
    state: present

- name: Add Caddy repository to sources list
  ansible.builtin.apt_repository:
    repo:
      "deb https://dl.cloudsmith.io/public/caddy/stable/deb/debian
      any-version main"
    state: present
    filename: caddy-stable

- name: Add Caddy src repository to sources list
  ansible.builtin.apt_repository:
    repo:
      "deb-src https://dl.cloudsmith.io/public/caddy/stable/deb/debian
      any-version main"
    state: present
    filename: caddy-stable

- name: Install Caddy
  ansible.builtin.apt:
    update_cache: true
    name: caddy
    state: present

- name: Copy Caddyfile template
  become: true
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: "{{ caddypath }}"
    owner: root
    group: root
    mode: '0644'

- name: Reload Caddy
  ansible.builtin.systemd_service:
    state: reloaded
    name: caddy

- name: Include task for each service
  ansible.builtin.include_tasks: setup-iptables.yml
  vars:
    service_port: "{{ item.value.port }}"
  with_dict: "{{ services }}"
