---
# tasks file for caddy

- name: Install required packages
  apt:
    update_cache: yes
    name:
      - debian-keyring
      - debian-archive-keyring
      - apt-transport-https
      - iptables-persistent # Used for iptables save
    state: present

- name: Télécharger et enregistrer la clé GPG de Caddy
  ansible.builtin.get_url:
    url: https://dl.cloudsmith.io/public/caddy/stable/gpg.key
    dest: /tmp/caddy-stable.gpg.key
    mode: '0644'

- name: Convertir la clé GPG au format binaire et l'enregistrer
  ansible.builtin.command: >
    gpg --dearmor -o /usr/share/keyrings/caddy-stable-archive-keyring.gpg /tmp/caddy-stable.gpg.key
  args:
    creates: /usr/share/keyrings/caddy-stable-archive-keyring.gpg

- name: Supprimer le fichier temporaire de la clé GPG
  ansible.builtin.file:
    path: /tmp/caddy-stable.gpg.key
    state: absent

- name: Ajouter le dépôt APT de Caddy
  ansible.builtin.get_url:
    url: https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt
    dest: /etc/apt/sources.list.d/caddy-stable.list
    mode: '0644'

- name: Install Caddy
  apt:
    update_cache: yes
    name: caddy
    state: present

- name: Copy Caddyfile template
  become: true
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: "{{ caddypath }}"
    owner: root
    group: root
    mode: '0644'

- name: Reload Caddy
  ansible.builtin.systemd_service:
    state: reloaded
    name: caddy

- name: Include task for each service
  include_tasks: setup-iptables.yml
  vars:
    service_port: "{{ item.value.port }}"
  with_dict: "{{ services }}"
