#corentinbe.al:80 {
#	root * /var/www/italien
#	file_server
#}

transmission.corentinbeal.fr:80 {
  basic_auth {
    cloud $2a$12$NwHWKoRbsQ7JK3dvl6epleHpc5UTotdJNeuKnN3WKIbU1i4rEyxES
  }
  reverse_proxy localhost:9091
}

photo.corentinbeal.fr {
  reverse_proxy localhost:2283
}

jellyfin.corentinbeal.fr {
  reverse_proxy localhost:8096
}
