---
services:
  jellyseerr:
    image: ghcr.io/seerr-team/seerr:{{ version_jellyseerr }}
    container_name: jellyseerr
    user: root
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Rome
      - PORT=5055   # optional
    ports:
      - 5055:5055
    volumes:
      - ./config:/app/config
    restart: unless-stopped
