---
# tasks file for mealie

- name: Create Mealie directory
  ansible.builtin.file:
    path: "{{dockge_base_folder}}mealie"
    state: directory
    mode: '0755'

- name: Copy Mealie repo
  become: true
  ansible.builtin.copy:
    src: mealie/docker-compose.yml
    dest: "{{dockge_base_folder}}mealie/docker-compose.yml"
    owner: root
    group: root
    mode: '0644'

- name: Create and start Mealie via docker-compose
  community.docker.docker_compose_v2:
    project_src: "{{dockge_base_folder}}mealie"
