{
  "type": "keyword",
  "name": "Sonarr",
  "url": "https://series.corentinbeal.fr/api/v3/health",
  "headers": "{\"X-Api-Key\": \"{{ sonarr_api_key }}\"}",
  "keyword": "message",
  "invert_keyword": true,
  "parent_name": "systemd"
}
